<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Library_Management.Properties.Settings.LIBMANAGEMENTConnectionString"
      connectionString="Data Source=DESKTOP-49H08A0;Initial Catalog=LIBMANAGEMENT;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="ConnectionString" value="Data Source=CHIENCHIEN;Initial Catalog=QLTC;Integrated Security=True"/>
  </appSettings>
</configuration>
